<div class="container">
	
<div class="row">

<h1>Accordion</h1>
Displays collapsible content panels for presenting information in a limited amount of space

The accordion component builds on top of the collapse directive to provide a list of items, with collapsible bodies that are collapsed or expanded by clicking on the item's header.

<h2>Accordion</h2>

Displays collapsible content panels for presenting information in a limited amount of space

The accordion component builds on top of the collapse directive to provide a list of items, with collapsible bodies that are collapsed or expanded by clicking on the item's header.


Accordion

Displays collapsible content panels for presenting information in a limited amount of space

The accordion component builds on top of the collapse directive to provide a list of items, with collapsible bodies that are collapsed or expanded by clicking on the item's header.
</div>
</div>