<div class="row">
<div class="col-xs-12 text-center mb10">
<h3>{{source.name}}</h3>
</div>

<article class="col-xs-12 article-preview" *ngFor="let article of articles">

<div class="col-xs-12 col-sm-3 pl0">
	<img src="{{article.urlToImage}}">
</div>

<div class="col-xs-12 col-sm-9 text-left pr0 pl0">
	<h3>{{article.title}}</h3>
	<div class="details">
		<span class="text-muted"><i class="fa fa-user"></i> {{article.author}}</span>
	</div>
	<p>{{article.description}}</p>
	<a href="{{article.url}}" target="_blank" class="btn btn-default btn-xs"> Read More </a>
</div>

</article>


</div>